extends layout

block content
    .inner
        h1.page-title Restaurants
        .row.ecis-card
            .col-4
                p
                    strong Search Within
                p
                    select.custom-select.select-radius
                        option 0.5 kilometres
                        option 1 kilometres
                        option 1.5 kilometres
                        option 2 kilometres
                        option 2.5 kilometres
                        option 3 kilometres
            .col-4
                p
                    strong Sort By Open/Closed
                p
                    select.custom-select.select-open
                        option All
                        option Open
            .col-4
                p
                    strong Sort By Rating/Distance
                p
                select.custom-select.select-rating
                    option Rating
                    option Distance
        .row.num-results-row
            .col-12.text-center
                strong
                    span.count -
                    | &nbsp;restaurants found:
        #results-container
    script.
        // Container for all our results
        const container = document.getElementById('results-container');
        // Our location, which will be populated with latitude and longitude after getCurrentLocation() is finished
        let myLocationLat, myLocationLng;
        // Default radius onload is 0.5 miles (in metres)
        let radius = 500;
        // Default sort option to 'All'
        let opennow = false
        // Default sort option to rating
        let sortByRatingOrDistance = 'Rating'
        // Object to hold our current location latlng values
        let currentLocation
        function getCurrentLocation() {
            // Asynchronously grabs the current location of the walk up system and pass those values into a map initalizer function
            navigator.geolocation.getCurrentPosition((position) => {
                myLocationLat = position.coords.latitude;
                myLocationLng = position.coords.longitude;
                currentLocation = {lat: myLocationLat, lng: myLocationLng};
                initPlaces(currentLocation)
            })
        }

        function setCoords() {
            // Initialise latitude and longitude array
            let latAndLng = [];
            // Traverse to parent of button click
            const parent = this.parentNode.parentNode;
            // Get lat and long values from element's dataset attributes
            const lat = parent.dataset.lat;
            const lng = parent.dataset.lng;
            // Push lat and long to array
            latAndLng.push({lat, lng});
            // Set local storage coordinates equal to the values held in latAndLng Array
            localStorage.setItem('coords', JSON.stringify(latAndLng));
        }

        let service
        let request

        function initPlaces(currentLocation) {
            service = new google.maps.places.PlacesService(document.createElement('div'));
            request = {
                location: currentLocation,
                radius,
                opennow,
                type: ['restaurant']
            }
            console.log(request);
            service.nearbySearch(request, callback)
        }

        function callback(results, status) {
            console.log(results);
            // Remove everything from container
            while (container.firstChild) {
                container.removeChild(container.firstChild);
            }

            // If everything went swimminlgy
            if(status == google.maps.places.PlacesServiceStatus.OK) {
                const newResults = results.map(result => {
                    // Get distance from current location
                    const distanceFromCurrentLocation = getDistanceFromLatLonInKm(currentLocation.lat, currentLocation.lng, result.geometry.location.lat(), result.geometry.location.lng());
                    // Return an object on every iteration which contains HTML. It's done this way so we can the sort array by distance
                    return {
                        distance: distanceFromCurrentLocation,
                        rating: result.rating,
                        domContent: `
                            <div class="row">
                                    <div class="col-12 col-md-8 offset-md-2 ecis-card">
                                        <h2>${result.name}</h2>
                                        <p>
                                            <strong>Address:</strong> ${result.vicinity}
                                        </p>
                                        <p>
                                            <strong>Rating:</strong> ${result.rating ? result.rating : 'No rating'}
                                        </p>
                                        <p>
                                            <strong>Distance from you:</strong> ${distanceFromCurrentLocation.toFixed(2)}km
                                        </p>
                                        ${result.opening_hours ? (result.opening_hours.open_now ? `<p><span class="open">Open</p>` : `<p><span class="closed">Closed</span></p>`) : ''}
                                        <p class="d-flex align-items-center justify-content-between">
                                            <a href="/map" class="btn btn-primary directions">Get Directions <i class="fa fa-chevron-right"></i></a>
                                            <a href="/email" class="btn btn-warning">Send To Email <i class="fa fa-paper-plane"></i></a>
                                        </p>
                                    </div>
                                </div>
                            `
                    }
                });

                // sort newResults by "distance" property and set innerHTML of container to the HTML stored in each object
                const sorted = sortByRatingOrDistance == 'Distance' ? newResults.sort((a, b) => a.distance - b.distance) : newResults.sort((a, b) => b.rating - a.rating)
                sorted.forEach(result => {
                    container.innerHTML += result.domContent
                })

                getTotalCards()
            }
        }
        function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {

            function deg2rad(deg) {
                 return deg * (Math.PI / 180);
            }

            let R = 6371; // Radius of the earth in km
            let dLat = deg2rad(lat2 - lat1);  // deg2rad below
            let dLon = deg2rad(lon2 - lon1);
            let a =
                Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2)
                ;
            let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            let d = R * c; // Distance in km
            return d
        }

        function getMetres(km) {
            console.log(km);
            console.log('km issssss ' + km);
            return km * 1000;
        }

        function filterRadius() {
            // Get checkbox value
            const selection = this.value;
            // Get the exact amount of kilometre(s)
            const kilometres = Number(selection.substring(0, selection.length - 11));
            // Convert to metres
            const metres = getMetres(kilometres);
            // Set global radius to selected value
            radius = metres
            // Re-render places
            initPlaces(currentLocation);
        }

        function sortRatingDistance() {
            const selection = this.value;
            sortByRatingOrDistance = selection
            initPlaces(currentLocation)
        }

        function filterOpen() {
            const selection = (this.value == 'Open')
            console.log(selection);
            opennow = selection
            initPlaces(currentLocation);
        }

        function getTotalCards() {
            console.log('runninggggg');
            const numberOfChildren = container.children.length
            console.log(numberOfChildren);
            const count = document.querySelector('.count')
            count.innerHTML = numberOfChildren
        }

        // Get select menus
        const selectRadius = document.querySelector('.select-radius')
        const sort = document.querySelector('.select-rating')
        const selectOpen = document.querySelector('.select-open')

        // Select Menu Event Listeners
        selectRadius.addEventListener('change', filterRadius)
        sort.addEventListener('change', sortRatingDistance)
        selectOpen.addEventListener('change', filterOpen)

        // Get every button with the class 'directions'
        const directionButtons = document.querySelectorAll('.directions')
        // Bind an click listener to each button. When any button is clicked, call setCoords
        directionButtons.forEach(button => button.addEventListener('click', setCoords))

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBskp6IOMHWbypxVLxH6SPpnyeSxz3NNQ&libraries=places&callback=getCurrentLocation" async defer)
